@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    One .NET Way<br />
    Belarus, Minsk<br />
    <abbr title="Phone">P:</abbr>
    <a href="mailto:375-00-00-00-00">
        +375-00-00-00-00
    </a>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>